<!-- Not used, just for reference -->
<h4 class="animated zoomIn">+</h4>
<div class="u-max-full-width animated infinite pulse">
	<a href="https://codility.com/" target="_blank">
		<img src="https://codility.com/static/img/codility_logo_white.svg">
	</a>
</div>
<div class="container text-left cursive">
	I'm glad you landed here, the fact that you are reading this means that I've already managed to generate at least the initial interest, now it's just a matter of proving it wasn't a complete waste of time <span class="smiley">:wink:</span> In order to find out all the answers you sought and beyond, <a href="javascript:;" data-drawer="#codilityDrawer">continue reading...</a>
</div>

<div id="codilityDrawer" class="drawer drawer_full cursive">
	<div class="drawer__inner">
		<a href="javascript:;" class="drawer__close">&times;</a>

		<ul class="drawer__nav">
			<li class="drawer__nav__item active"><a href="javascript:;" data-tab="#tabStartup">Why Startup?</a></li>
			<li class="drawer__nav__item"><a href="javascript:;" data-tab="#tabCodility">Like codility?</a></li>
			<li class="drawer__nav__item"><a href="javascript:;" data-tab="#tabChanges">Would I make a difference?</a></li>
		</ul>
		<div class="drawer__content">
			<div class="drawer__content__inner">
				<div class="tabs">
					<div id="tabStartup" class="tab active">
						<p>Having worked for many startups as a freelancer and currently being part of one as a full-time employee, I can go on telling my experiences and why I like to be part of this continuously evolving culture, but let me keep this very crisp and brief to keep the interest going. I'm summarizing it in a few bullet points and a tagline to each of them, hopefully that will suffice the purpose and convey just enough.</p>
						<ul>
							<li>
								<h4>Fast Paced</h4>
								<blockquote class="quote">We live in a a fast-paced world. Walking slows us down.</blockquote>
							</li>
							<li>
								<h4>Challenges</h4>
								<blockquote class="quote">We don’t grow when things are easy; we grow when we face challenges.</blockquote>
							</li>
							<li>
								<h4>Complete Ownership</h4>
								<blockquote class="quote">Taking complete ownership of your outcome by holding no one but yourself responsible for them is the most powerful thing you can do to drive your success.</blockquote>
							</li>
							<li>
								<h4>Explore and Experiment</h4>
								<blockquote class="quote">Explore and Experiment. The world has much to offer, and you have much to give. And every time you try something new, you’ll learn more about yourself.</blockquote>
							</li>
						</ul>
					</div>
					<div id="tabCodility" class="tab">
						<h4>Like</h4>
						<ul>
							<li>
								<h6>The !dea</h6>
								<blockquote class="quote">I remember the last time when I was searching for a candidate for my previous organization and scrutinizing thousands of resumes, taking at least 2-3 interviews everyday. Trust me it was so painful and disappointing when the candidates used to bluff so much in their resumes and the pain of interviewing them on phone just to know whether they are even worth calling for a face-off. I started preparing mini-projects and set of questions to send them out and get the initial worthiness. I so wished I stumbled upon something like <a href="https://codility.com/" target="_blank">codility</a> to ease the whole process.</blockquote>
							</li>
						</ul>
						<h4>Dislikes</h4>
						<ul>
							<li>
								<h6>The font-end stack</h6>
								<blockquote class="quote">After a li'l bit of fiddling around the website, I see that the whole front-end stack at codility is a bit of a mess and using stale age old front-end technologies. No offense, but this is something you guys @codility will have to agree to. The front-end seems to be a sidelined stuff at the development center and looks so tightly coupled with the back-end stack. I, being so passionate and sentimental about front-end development, I really feel hurt. I so wish I could change all this and I mean it.</blockquote>
							</li>
							<li>
								<h6>Disconnect</h6>
								<blockquote class="quote">This was a serious turn off for me. The fact that each of the pages/sections across the website felt as if I landed on a complete different website altogether, which in my opinion, isn't the best thing to do, especially when the actual product is so good, why to turn people off by giving an unprofessional feel.</blockquote>
							</li>
							<li>
								<h6>Others</h6>
								<blockquote class="quote">Few notable mentions are, there isn't any CDN serving the assets, no localization, no internationalization of the content, only available in English, are you guys not targeting the international market? no proper API documentation, etc.</blockquote>
							</li>
						</ul>
					</div>
					<div id="tabChanges" class="tab">
						<p>
							Well as I mentioned earlier, I'm more of a sentimental programmer than a mental one <span class="smiley">:wink:</span> I'm too attached to the front-end development, the code that it involves and anything that has to do with it. Having said that, the first and the foremost thing that I would like to change is the front-end stack to make development more streamlined and at par with the industry. And in the process also fix few usability issues like the one that I had mentioned about every section of the website being disconnected from one another. Once this is done, it will lay a solid base for things to be built on top of. Few things that I had been experimenting with off lately and would love to introduce are:
						</p>
						<ul>
							<li><h4>Better front-end builds using <a href="https://babeljs.io/">Babel</a> and <a href="http://webpack.github.io/">webpack</a></h4></li>
							<li><h4><a href="http://es6-features.org/">ES6</a> - Yes we are already here!</h4></li>
							<li><h4><a href="https://facebook.github.io/react/">ReactJS</a> - no jQuery please</h4></li>
							<li><h4><a href="https://facebook.github.io/flux/docs/overview.html">Flux Architecture</a> - for a change</h4></li>
							<li><h4><a href="http://alt.js.org/">altjs</a> - looks quite promising</h4></li>
						</ul>
					</div>
				</div>
			</div>				
		</div>

	</div>
</div>

