<div class="icons cursive">
    <a href="mailto:{{ site.email }}" class="glow icon icon-email animated bounceInDown" title="Email">@</a>
    <a target="_blank" href="https://twitter.com/emadalam" class="glow icon icon-twitter animated bounceInDown" title="Twitter">t</a>
    <a target="_blank" href="https://www.instagram.com/im.emad" class="glow icon icon-instagram animated bounceInDown" title="Instagram">
        <span class="shade-1">i</span><span class="shade-2">g</span>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/emadalam" class="glow icon icon-linkedin animated bounceInDown" title="LinkedIn">in</a>
    <a target="_blank" href="https://github.com/emadalam" class="glow icon icon-github animated bounceInDown" title="GitHub">G</a>
</div>