<div class="icons cursive">
    <a target="_blank" href="https://facebook.com/connect2emad" class="glow icon icon-facebook animated bounceInDown">f</a>
    <a href="mailto:emad.alam@yahoo.com" class="glow icon icon-email animated bounceInDown">@</a>
    <a target="_blank" href="https://twitter.com/emadalam" class="glow icon icon-twitter animated bounceInDown">t</a>
    <a target="_blank" href="https://www.linkedin.com/in/emadalam" class="glow icon icon-linkedin animated bounceInDown">in</a>
    <a target="_blank" href="https://github.com/emadalam" class="glow icon icon-github animated bounceInDown">g</a>
</div>