<div class="vcontent__wrapper">
	<div class="vcontent__inner">
		<div class="vcontent__content">
			
			<div class="intro__nav-item intro__nav-item_center">
				<div class="intro__nav-item__line animated rotateIn"></div>
				<a href="/">
					<img src="/assets/img/dp.jpg" alt="Emad Alam" class="intro__avatar animated zoomIn">	
				</a>
			</div>

			<div class="intro__nav-item intro__nav-item_left">
				<div class="vcontent__wrapper">
					<div class="vcontent__inner">
						<div class="vcontent__content">
							<a href="/me" class="intro__nav-item__link animated flip cursive glow">Me</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="intro__nav-item intro__nav-item_right">
				<div class="vcontent__wrapper">
					<div class="vcontent__inner">
						<div class="vcontent__content">
							<a href="{{ site.blog_link }}" class="intro__nav-item__link animated flip cursive glow">Blog</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				{% if include.message %}
					<div class="intro__message animated fadeIn">
						{{ include.message }}
					</div>
				{% endif %}
				
				{% include icons.html %}
			</div>
		
		</div>
	</div>
</div>