<h4 class="animated pulse infinite cursive">Emad Alam</h4>
<div class="container text-justify">
    <p>
        I'm a <b class="cursive">Software Artist</b> based out of Berlin, Germany <span class="smiley">:de:</span> I love <b class="cursive">JavaScript</b> and everything web. My history of coding dates back to high school when I coded my first ever desktop app for Windows 98 using just JavaScript <span class="smiley">:floppy_disk:</span> Don't be surprised, ask me how I did it and the caveats of it <span class="smiley">:wink:</span>
    </p>
    <p>
        Feel free to reach out to me at <a class="cursive" href="mailto:{{ site.email }}">alam[at]emad.in</a> for possible collaborations or to know how I could help you build your next awesome application. If you rather prefer to have a sneak peek at my skills prior to reaching out, or want to know about some of the cool open source work that I have been doing, <a class="cursive" href="javascript:;" data-drawer="#exploreDrawer">continue reading...</a>
    </p>
</div>

<div id="exploreDrawer" class="drawer drawer_full cursive">
	<div class="drawer__inner">
		<a href="javascript:;" class="drawer__close">&times;</a>

		<ul class="drawer__nav">
			<li class="drawer__nav__item active"><a href="javascript:;" data-tab="#tabSkills">Skills</a></li>
			<li class="drawer__nav__item"><a href="javascript:;" data-tab="#tabOpenSource">Open Source</a></li>
		</ul>
		<div class="drawer__content">
			<div class="drawer__content__inner">
				<div class="tabs">
					<div id="tabSkills" class="tab active">
						<p>
                            My freelance career dates back to the summer of 2009 during the second year of pursuing my Engineering degree in Computer Science. Having worked for many startups and giant multinationals as full-time employee and as a freelancer as well, I have gathered in-depth know-hows of product development, especially around web technologies. Though I use JavaScript as my primary weapon of war, being a web architect I have the insights to choose the right tools for the right job. Listed below is a brief highlight of the skills that I can bring onboard.</p>
						<ul>
							<li>
								<h4>Software Languages</h4>
								<blockquote class="quote">
                                    - JavaScript <span class="smiley">:star::star::star::star::star:</span><br>
                                    - HTML, CSS <span class="smiley">:star::star::star::star:</span><br>
                                    - Java, .NET with C#, Ruby and PHP <span class="smiley">:star::star:</span>
                                </blockquote>
							</li>
							<li>
								<h4>Frameworks/Others</h4>
								<blockquote class="quote"> 
                                    - react, NodeJS, GraphQL <span class="smiley">:star::star::star::star:</span><br>
                                    - MobX, Redux, CoffeeScript, LESS, SASS <span class="smiley">:star::star::star:</span><br>
                                    - TVJS, TVML, react native, electron, koa, Knex.js, BABEL (ES6), Webpack, JSDoc, GIT, Selenium, Adobe Experience Manager, JSP, ASP.NET with MVC, Ruby on Rails, AJAX, REST, Flux, WordPress, Joomla, Drupal, Moodle, Magento, MySQL, NoSQL, MongoDB, ...
                                </blockquote>
                            </li>
                            <li>
								<h4>Legacy/obsolete</h4>
								<blockquote class="quote"> 
                                    BackboneJS, UnderscoreJS, MarionetteJS, WinJS, jQuery, ExtJS, GruntJS, Gulp, Bower, WCF, SOAP, MS-SQL, Oracle, ...
                                </blockquote>
							</li>
						</ul>
					</div>
					<div id="tabOpenSource" class="tab">
                        <h4>
                            <a href="https://github.com/emadalam/atvjs" target="_blank">atvjs</a> <span class="text-sub"><a class="github-button" href="https://github.com/emadalam/atvjs" data-size="large" data-show-count="true" aria-label="Star emadalam/atvjs on GitHub">Star</a></span>
                        </h4>
						<ul>
							<li>
								<h6>Blazing fast Apple TV application development using pure JavaScript</h6>
								<blockquote class="quote">The most popular Apple Tv application development framework using pure JavaScript. atvjs was the only one of its kind during the time of its inception and possibly still is. It utilizes the apple tv proprietary tvjs and tvml under the hood, while abstracting the intricacies to provide a clean and rapid app development framework.</blockquote>
							</li>
                        </ul>

						<h4>
                            <a href="https://github.com/mesmerised/mesmerized" target="_blank">mesmerized</a> <span class="text-sub"><a class="github-button" href="https://github.com/mesmerised/mesmerized" data-size="large" data-show-count="true" aria-label="Star mesmerised/mesmerized on GitHub">Star</a></span>
                        </h4>
						<ul>
							<li>
								<h6>Transform your browser's new tabs</h6>
								<blockquote class="quote">An open source browser extension available for both <a href="https://chrome.google.com/webstore/detail/mesmerized/ieklodmmjfoaelcnfoilfcodkmicbooc" target="_blank">Chrome</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/mesmerized/" target="_blank">Firefox</a> browsers. This extension transforms your boring new tabs into a fresh new power packed dashboard with tons of customization and widgets for your day to day tasks and more.</blockquote>
							</li>
                        </ul>

                        <h4>
                            <a href="https://github.com/mesmerised/appstateme" target="_blank">appstateme</a> <span class="text-sub"><a class="github-button" href="https://github.com/mesmerised/appstateme" data-size="large" data-show-count="true" aria-label="Star mesmerised/appstateme on GitHub">Star</a></span>
                        </h4>
                        <ul>
                            <li>
                                <h6>Simple yet powerful state management library without the noise</h6>
                                <blockquote class="quote">A powerful state management library built on the lines of Flux Architecture with minimal to no learning curve at all. It blends well with the react ecosystem to provide a rapid development framework out of the box.</blockquote>
                            </li>
                        </ul>
                        
                        <h4>
                            <a href="https://github.com/mesmerised/persistme" target="_blank">persistme</a> <span class="text-sub"><a class="github-button" href="https://github.com/mesmerised/persistme" data-size="large" data-show-count="true" aria-label="Star mesmerised/persistme on GitHub">Star</a></span>
                        </h4>
                        <ul>
                            <li>
                                <h6>localStorage on steroids <span class="smiley">:syringe:</span></h6>
                                <blockquote class="quote">persistme lets you namespace your localStorage across multiple applications even when they are hosted on the same domain. It also has some built in goodies for common localStorage tasks and ~10x storage with built in compression.</blockquote>
                            </li>
                        </ul>
					</div>
				</div>
			</div>				
		</div>

	</div>
</div>

