// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
$bg-color: #EEEEEE;

//
// Media Queries Breakpoints
// --------------------------------------------------------

// Phone
$screen_xs_min: 480px;
$screen_xs_max: ($screen_xs_min - 1px);

// Tablet
$screen_sm_min: 768px;
$screen_sm_max: ($screen_sm_min - 1px);

// Small desktop
$screen_md_min: 992px;
$screen_md_max: ($screen_md_min - 1px);

// Large desktop
$screen_lg_min: 1200px;
$screen_lg_max: ($screen_lg_min - 1px);
