$form-border-color: #ccc;
$form-background-color: #fff;

.form {

	&__container {
		text-align: center;
	}

	&__wrapper {
		text-align: initial;
		display: inline-block;
		padding: 40px;
		border: 1px solid $form-border-color;
		background-color: $form-background-color;
		border-radius: 4px;
	}

	&__label {
		&_small {
			font-size: small;
		}
	}
}