$linkedin-color: #007bb6;
$email-color: #222222;
$facebook-color: #3b5998;
$twitter-color: #00aced;
$github-color: #24292e;
$instagram-color: #833AB4;
$instagram-color-shade-1: #C13584;
$instagram-color-shade-2: #E1306C;

.icons {
	text-align: center;
}
.icon {
	display: inline-block;
	margin: 0 4px;
	font-size: 32px;
	width: 48px;
	font-weight: bold;
	text-decoration: none;
	opacity: .8;

	@media screen and (max-width: $screen_md_max) {
		font-size: 28px;
		width: 36px;
	}
	
	&:hover {
		opacity: 1;
	}

	&-linkedin {
		color: $linkedin-color;

		&:hover,
		&:visited,
		&:active {
			color: darken($linkedin-color, 10%);
		}
	}

	&-email {
		color: $email-color;

		&:hover,
		&:visited,
		&:active {
			color: darken($email-color, 10%);
		}
	}

	&-facebook {
		color: $facebook-color;

		&:hover,
		&:visited,
		&:active {
			color: darken($facebook-color, 10%);
		}
	}

	&-twitter {
		color: $twitter-color;

		&:hover,
		&:visited,
		&:active {
			color: darken($twitter-color, 10%);
		}
	}

	&-github {
		color: $github-color;

		&:hover,
		&:visited,
		&:active {
			color: darken($github-color, 10%);
		}
	}

	&-instagram {
		color: $instagram-color;

		&:hover,
		&:visited,
		&:active {
			color: darken($instagram-color, 10%);
		}
		> .shade-1 {
			color: $instagram-color-shade-1;
		}
		> .shade-2 {
			color: $instagram-color-shade-2;
		}
	}
}