<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        {% capture page_title %}{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
        <title>{{ page_title }}</title>
        
        <!-- Google Site Verification -->
        <meta name="google-site-verification" content="hX8V_RJ3Vq7Hu-qWISiXo9BSUOe8d31iFdzyVJDFLgQ" />

        <!-- Meta Info -->
        {% if site.meta %}
            {% for meta in site.meta %}
                <meta name="{{ meta[0] }}" content="{{ meta[1] }}">
            {% endfor %}
        {% endif %}
        
        <!-- FB App ID -->
        {% if site.fb_app_id %}
            <meta property="fb:app_id" content="{{ site.fb_app_id }}">
        {% endif %}
        
        <!-- Open Graph properties -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:title" content="{{ page_title }}">
        <meta property="og:image" content="/assets/img/dp.jpg">
        {% if site.meta and site.meta.description %}<meta name="og:description" content="{{ site.meta.description }}">{% endif %}

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="emadalam">
        <meta name="twitter:creator" content="emadalam">

        <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.2/assets/css/emojione.min.css" />

        <link rel="stylesheet" href="/assets/css/app.css">
    </head>
    <body>
        
        {{ content }}
        
        {% include scripts.html %}
        {% include analytics.html %}
    </body>
</html>
